<!DECOTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="description"content="">
    <meta name="keywords"content="">
    <!-- モバイル最適化 -->
    <meta name="viewport"content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Bootstrap</title>
</head>
<body>
    <h1 class="m-3">Bootstrap</h1>
    <p class="m-3">Hello! Bootstrap!</p>
    <footer class="bg-info">
    <ul class="nav pull-right">
        <li class="m-3"><a href="#" class="text-white">サイトポリシー</a></li>
        <li class="m-3"><a href="#" class="text-white">プライバシーポリシー</a></li>
        <li class="m-3"><a href="#" class="text-white">サイトマップ</a></li>
    </ul>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>